.homeBackground {
  background-image: url(../assets/images/bg.webp);
}

.words {
  display: inline;
  text-indent: 10px;
}
.words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  background: -webkit-linear-gradient(left, #ffffff, #57d4ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotateWord 9s linear infinite 0s;
}
.words-1 span:nth-child(2) {
  animation-delay: 3s;
}
.words-1 span:nth-child(3) {
  animation-delay: 6s;
}
.words-1 span:nth-child(4) {
  animation-delay: 9s;
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.customLink:hover {
  border-color: transparent;
}

.customLink:hover:after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #32bb98, #2ecc5a, #1d3667, #32bb98, #2ecc5a);
    height: calc(100% + 2px* 3);
    width: calc(100% + 2px* 3);
    top: calc(-2px* 1.5);
    left: calc(-2px* 1.5);
    z-index: -1;
    border-radius: 40px;
    background-size: 400% 100%; /* Increase background size to cover animation path */
    animation: animate 2s linear infinite; 
}

@keyframes animate {
  from {
    background-position: 0%  ;
  }
  to {
    background-position: 100%  ;
  }
}
