.homeBackground {
  background-image: url(../assets/images/bg.webp);
}
section.homeBackground:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: #0000004a;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
}
.words {
  display: inline;
  text-indent: 10px;
}
.words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  background: -webkit-linear-gradient(left, #ffffff, #57d4ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotateWord 9s linear infinite 0s;
}
.words-1 span:nth-child(2) {
  animation-delay: 3s;
}
.words-1 span:nth-child(3) {
  animation-delay: 6s;
}
.words-1 span:nth-child(4) {
  animation-delay: 9s;
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.customLink:hover {
  border-color: transparent;
}

.gradent-wrapper:hover:after {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    #32bb98,
    #2ecc5a,
    #1d3667,
    #32bb98,
    #2ecc5a
  );
  height: calc(100% + 2px * 3);
  width: calc(100% + 2px * 3);
  top: calc(-2px * 1.5);
  left: calc(-2px * 1.5);
  z-index: -1;
  border-radius: 40px;
  background-size: 400% 100%; /* Increase background size to cover animation path */
  animation: animate 2s linear infinite;
  z-index: 20;
}
.gradent-wrapper:hover a {
  background-color: #474951;
}
@keyframes animate {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    #ffffff,
    rgba(217, 217, 217, 0.54),
    #d0d0d0
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradientstyle2 {
  background: linear-gradient(
    277.97deg,
    #32bb98 12.56%,
    #2ecc5a 48.34%,
    #1d3667 117.79%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.ticker {
  display: inline-block;
  animation: ticker 30s linear infinite;
}

.trustedGradient {
  background-image: radial-gradient(
      circle at 99% 99%,
      rgba(15, 41, 195, 0.62),
      rgba(25, 25, 26, 1)
    ),
    radial-gradient(
      circle farthest-side at 95% 67%,
      rgba(15, 41, 195, 0.62),
      rgba(46, 228, 182, 0.8) 20%,
      rgba(25, 25, 26, 1)
    );
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
  backdrop-filter: blur(15px);
  border-radius: 16px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contactBg {
  background: rgba(247, 247, 247, 0.15);
}

.customLink2:hover:after {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    #32bb98,
    #2ecc5a,
    #1d3667,
    #32bb98,
    #2ecc5a
  );
  height: calc(100% + 2px * 2);
  width: calc(100% + 2px * 2);
  top: calc(-2px);
  left: calc(-2px);
  z-index: 1;
  border-radius: 16px;
  background-size: 400% 100%; /* Increase background size to cover animation path */
  animation: animate 2s linear infinite;
}

@keyframes animate {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.boxGradient {
  background: linear-gradient(
    180deg,
    rgb(42, 14, 98) 0%,
    rgba(63, 46, 97) 100%
  );
  border-radius: 20px;
  opacity: 0.9;
}

.headerShadow {
  box-shadow: 12px 13px 1px -6px rgb(255 255 255 / 19%);
  -webkit-box-shadow: 2px 5px 1px 0px rgb(255 255 255 / 19%);
  -moz-box-shadow: 12px 13px 1px -6px rgb(255 255 255 / 19%);
}

@keyframes spin {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.spin-slow {
  animation: spin 10s linear infinite;
}

.react-international-phone-input-container .react-international-phone-input {
  overflow: visible;
  height: 3.5rem !important;
  box-sizing: border-box;
  padding: 0 8px;
  border: 1px solid white !important;
  border-radius: 10px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: none !important;

  margin: 0;
  background-color: rgba(237, 237, 237, 0.1) !important;
  color: white !important;
  font-size: 15px !important;
  width: 100% !important;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.react-international-phone-country-selector-button {
  display: flex;
  height: 3.5rem !important;
  width: 4rem !important;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid white !important;
  border-radius: 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none !important;

  margin: 0;
  appearance: button;
  -webkit-appearance: button;
  background-color: rgba(237, 237, 237, 0.1) !important;

  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  cursor: pointer;
  text-transform: none;
  -webkit-user-select: none;
  user-select: none;
}

.react-international-phone-country-selector-button__dropdown-arrow {
  display: none !important;
}

.aboutBg {
  background-image: url(../assets/images/aboutBg.png);
}
.ServiceBanner .containerCust {
  background: linear-gradient(
    180deg,
    #32bb98 0%,
    #2a98a7 10.5%,
    #2682b0 20.26%,
    #132992 45.59%,
    #0f121d 89.33%,
    #0f121d 94.23%
  );
}
.InformationBanner .containerCust:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: linear-gradient(
      138.69deg,
      rgba(50, 187, 152, 0.6) 23.39%,
      rgb(15 41 195 / 34%) 60.5%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.text-gradent {
  background: linear-gradient(283deg, #32bb98 15.33%, #fff 96.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradent-p {
  background: linear-gradient(
    180deg,
    #ffffff -29.51%,
    rgba(153, 153, 153, 0.5) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-heading {
  background: linear-gradient(
    277.97deg,
    #32bb98 12.56%,
    #2ecc5a 48.34%,
    #1d3667 117.79%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-area .custom-gradent:before {
  border-radius: 512px;
  opacity: 0.35;
  background: linear-gradient(282deg, #32bb98 14.2%, #0f29c3 74.43%);
  filter: blur(75px);
  content: "";
  width: 405px;
  height: 479px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 20px;
}
.service-area .custom-gradent2:before {
  border-radius: 512px;
  opacity: 0.35;
  background: linear-gradient(282.21deg, #000000 14.2%, #0f29c3 74.43%);

  filter: blur(75px);
  content: "";
  width: 405px;
  height: 479px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 20px;
}
.service-area .custom-shadow {
  box-shadow: 3px 4px 6.1px 0px #ffffff1a;
}
.VectorComponent:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background-image: url("../assets/images/vectorL.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 20;
}
.VectorComponent::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
  background-image: url("../assets/images/vectorR.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 20;
}
@media only screen and (max-width: 600px) {
  .VectorComponent:before {
    width: 50%;
  }
  .VectorComponent::after {
    width: 50%;
  }
}
.custom-gradent:before {
  border-radius: 512px;
  opacity: 0.35;
  background: linear-gradient(282deg, #32bb98 14.2%, #0f29c3 74.43%);
  filter: blur(75px);
  content: "";
  width: 405px;
  height: 479px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 20px;
}
.custom-gradent-slider:before {
  border-radius: 512px;
  opacity: 0.35;
  background: linear-gradient(282deg, #32bb98 14.2%, #0f29c3 74.43%);
  filter: blur(75px);
  content: "";
  width: 405px;
  height: 479px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 20px;
}
.rotate-360:before {
  animation: rotate-360 8s linear infinite;
}

@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.SingleBlogBody h1,
.SingleBlogBody h2,
.SingleBlogBody h3,
.SingleBlogBody h4,
.SingleBlogBody h5,
.SingleBlogBody h6 {
  margin-bottom: 20px;
}
.SingleBlogBody p {
  margin-bottom: 10px;
}
.ImpressumBody h1,
.SingleBlogBody h2,
.SingleBlogBody h3,
.SingleBlogBody h4,
.SingleBlogBody h5,
.SingleBlogBody h6 {
  margin-bottom: 20px;
}
.ImpressumBody p {
  margin-bottom: 10px;
}
select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.round {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:  calc(100% - 20px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px), calc(100% - 0.5em) 1em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}
 

select.round:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1.5em, calc(100% - 20px) 1.5em,
    calc(100% - 0.5em) 1em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.customShortDescriptionStyling p span {
  background-color: transparent !important;
  color: white !important;
}
