@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./custom.css);

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 3%;
}

h1 {
  @apply text-3xl  lg:text-5xl    font-bold text-white;
}
h2 {
  @apply text-2xl  lg:text-4xl    font-semibold;
}

h3 {
  @apply text-xl  lg:text-3xl 2xl:text-4xl  font-semibold;
}
h4 {
  @apply text-lg  lg:text-xl    font-semibold;
}

 p{
  @apply text-white
 }